[submodule "JAMTests/jamtestvectors"]
	path = JAMTests/jamtestvectors
	url = https://github.com/open-web3-stack/jamtestvectors.git
[submodule "JAMTests/javajam"]
	path = JAMTests/javajam
	url = https://github.com/javajamio/javajam-trace.git
[submodule "JAMTests/jamduna"]
	path = JAMTests/jamduna
	url = https://github.com/jam-duna/jamtestnet.git
[submodule "PolkaVM/Sources/asmjit"]
	path = PolkaVM/Sources/asmjit
	url = https://github.com/asmjit/asmjit.git
