.DS_Store
.build
build
Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode/settings.json

# rust build
target

# static lib files
.lib/
tasks.json

*.d
*.swiftdeps
*.swiftdeps~
Package.resolved
contents.xcworkspacedata
launch.json
settings.json
c_cpp_properties.json

Tools/openrpc.json

tmp

*.pvm

.benchmarkBaselines

spec/
